.RideDetails {
    background: none;
    display: flex;
    justify-content: space-between;
    background-color: white;

    .info-box {
        padding: 5px 10px; 
        text-align: center;
        align-items: center;
        vertical-align: middle;
        font-size: 20px;
        color: black;
        width: 33vh;
        height: 3vh;
    }
 


}